h1{
    font-weight: 700;
    font-size: 40px;
    margin: 5px;
    margin-bottom: 20px;
}

input{
    width: 100%;
   
}

.item-container{
    text-align: left;
}

.row-new{
    margin: 10px 5px;
}

.row-button{
    min-width: 80px;
}

p{
    font-size: 40px;
    font-weight: 500;
    color: rgb(3, 0, 0);
}

.para{
    font-size: 25px;
    margin-top: 10px;
}